body {
  background-color: #EAF2F8 ;
}

h1 {
  color: blue;
  font-family: sans-serif;
  text-decoration-style: wavy;
  text-align: center;
  margin: auto;
  border: 20px;
  padding: 30px;
  background-color: #2B2D2F ;

}

h2 {
  color: blue;
  text-align: center;
  margin: auto;
  border: 0px
  padding:20px;
  background-color:#B4D6BB;
}

h3 {
  color: green;
  background-color: inherit;
  padding:
  font-family:sans-serif;
}

img {
  float: none;
}
